@media screen and (max-width: 1240px) {
    .menu-block{
        display: block;
    }
    .logo{
        padding: 0;
        text-align: center;
        width: 100%;
        margin-top: -2%;
        margin-bottom: -3%;
    }
    .menu{
        width: 100%;
        display: block;
        margin-top: 2%;
    }
    .trash {
       float: right;
        padding-right: 10%;
    }
    .fa-shopping-cart{
        font-size: 3vw;
    }
    .spisok{
        float: left;
        padding-left: 10%;
    }
    .performance-block img{
        width: 50px;
    }
    .fa-location-arrow{padding: 1%}
}
@media screen and (max-device-width: 425px) {
    .menu-block{
        position: relative;
        background: #4396D7;
    }
    .logo{
        margin: 0;
        display: block;
    }
    .left-logo{
        margin: 0;
        padding: 0;
        border: none;
    }
    .right-logo{
        margin: 0;
    }
    .menu li{
        font-size: 2vw;
    }
    .slider-text{top: 25%}
    .slider-text p{
        padding: 0;
        text-align: center;
    }
    .game-changer{
        display: inline-block;
        width: 38%;
        float: left;
        padding-left: 10%;
    }
    .video-media{
        display: inline-block;
        width: 38%;
        float: right;
        text-align: right;
        padding-right: 10%;
    }
    .button{
        margin-left: 25%;
    }
    .video-info{
        float: none;
        width: 100%;
        padding: 0;
    }
    .price{border: none}
    .video{
        float: none;
        margin: 0 auto;
        width: 75%;
    }
    .info-logo{
        padding-top: 5%;
    }
    .buy{
        padding-top: 20px;
        display: block;
    }
    .liners{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 4%;
    }
    .liners-buttom{
        font-size: 7vw;
    }
    .liners-text{
        font-size: 9vw;
    }
    .addres{padding-top: 0}
    .stay h2{padding-bottom: 5%}
    .fa-location-arrow{padding: 2%}
}


