*{
    margin: 0;
    padding: 0;
}
main{text-transform: uppercase;}
.clerfix {
    clear: both;
}
/*HEADER*/
.info-promo{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    position: relative;
    font: 600 1vw 'Open Sans', sans-serif;
}
.info-promo p{
    padding: 1%;
}
/* Меню*/

.menu-block {
    position: absolute;
    z-index: 98;
    left: 0;
    width: 100%;
    background-color:rgba(133,185,228,0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    padding-left: 6%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-logo {
    border-right: 3px solid black;
    margin: 2%;
    padding-right: 5%;
}
.right-logo {
margin:  4%;
}
.trash {
    padding-right: 15%;
    padding-left: 3%;
    cursor: pointer;
}
.menu {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu li{
    display: inline-block;
    font: 600 1vw 'Open Sans', sans-serif;
    color: white;
    padding-right: 50px;
}
.menu a{
    text-decoration: none;
    color: white;
}
.fa-shopping-cart{
    font-size: 2vw;
}
.slider-text{
    width: 100%;
    position: absolute;
    top: 36%;
    color: white;
}
.slider-text h2{
    text-align: center;
    font: 8vw 'BRUSHSTRIKE', sans-serif;
}
.slider-text h3 {
    text-align: center;
    font: 600 3vw 'Bebas Neue Regular', sans-serif;
}
.slider-text p{
    text-align: right;
    font-size: 45px;
    padding-right: 28%;
}
.fa-sort-asc{
    cursor: pointer;
}
.fa-sort-desc{
    margin-left: 15px;
    border-top: 1px solid black;
    padding: 10px;
    cursor: pointer;
}


.slider{
    position: relative;
    width: 100%;
}
.slider-image>img{width: 100%}
.second-image {
    position: absolute;
    top: 0;
    width: 75%;
}
.second-image img{
    width: 100%;
}

/* Блок-возможности*/
.tech-features{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}
.features-text{
    width: 30%;
    font:3vw 'Open Sans ExtraBold', sans-serif;
    background: linear-gradient(to right, #0E1757, #3888C2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.features-image{
    float: right;
    width: 60%;
    padding-right: 2.5%;
}
.features-image img{
    width: 100%;
}

/* Безопасность*/
.performance-safety{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    font:2vw 'Open Sans ExtraBold', sans-serif;
    padding-top: 2%;
    padding-bottom: 2%;
}
.performance-block {
    display: flex;
    justify-content: center;
    align-items: center;
}
.performance-block:first-child{
    padding-left: 10.4%;
    width: 28.3%;
}

.performance-block:last-child{
    padding-right: 10.4%;
    width: 16.9%;
}

.performance-block:nth-child(2){
    width: 16.2%;
}

.performance-text {
    padding-left: 20px;
}
/* Видео блок*/

.video-block{
    background-color: #F3F3F3;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 1%;
}
.video-info {
    float: left;
    padding-left: 10%;
}
.game-changer h2{
    font:3vw 'Open Sans ExtraBold', sans-serif;
    background: linear-gradient(to right, #0E1757, #3888C2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.game-changer h3{
    font:700 1vw 'Open Sans', sans-serif;
    padding-bottom: 20px;
}
.game-changer p{
    font:400 1vw 'Open Sans', sans-serif;
    padding-top: 3%;
}
.price{
    border-left: 2px solid #E1E1E1;
    padding: 5px 0 5px 15px;
    margin: 10px 0 10px 0;
}
.price p{
    font:400 2vw 'Open Sans', sans-serif;
    padding-bottom: 3px;
    color: #056CB6;
}
.button{
    width: 45%;
    font: 600 1.5vw 'Myriad Pro';
    padding: 7% 15% 7% 15%;
    border: 3px solid #1877BB;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
}
.info-logo {
    padding: 12% 0 10% 10%;
}
.video{
    float: right;
    width: 50%;
    margin-right: 6%;
    margin-top: 4%;
    margin-bottom: 4%;
    cursor: pointer;
}
.video img{
    width: 100%;
}

/* Проффесионалы */

.pros {
    width: 100%;
    padding-top: 7%;
    padding-bottom: 9%;
}
.pros-text{
    width: 100%;
    text-align: center;
    font: 3vw 'Open Sans ExtraBold', sans-serif;
    background: linear-gradient(to right, #0E1757, #3888C2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.pros-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
}
.pros-logo img{
    padding-left: 1%;
    padding-right: 1%;
}
.pros-logo img:nth-child(1){
    width: 7.86%;
}
.pros-logo img:nth-child(2){
    width: 10.36%;
}
.pros-logo img:nth-child(3){
    width: 13.23%;
}
.pros-logo img:nth-child(4){
     width: 9.64%;
 }
.pros-logo img:nth-child(5){
    width: 11.82%;
}

.pros-circle {
    width: 100%;
    text-align: center;
    padding-top: 7%;
    cursor: pointer;
}
.circle{
    width: 15px;
    height: 15px;
    background: #4A91C8;
    display: inline-block;
    border: 1px solid #4A91C8;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
}
.circle1{
    background: #0D6CB6;
}
.second-pros{
    padding-top: 95px;
    padding-bottom: 110px;
}

/*Инстаграм*/
.instagram {
    width: 100%;
    position: relative;
    font-size: 0;
    color: white;
}
.instagram>img{width: 100%}
.nosweatco {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 14%;

}
.nosweatco p{
    font: 2vw 'Open Sans ExtraBold',sans-serif;
    text-align: center;
}
.nosweatco h5{
    text-align: center;
    font-size: 3vw;
}
.nosweatco img{
    width: 12.5%;
    padding: 0.5%;
}
.nosweatco-toprow, .nosweatco-downprow{
    width: 100%;
}

/* Линии*/

.buy{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 115px;
}
.liners{
    width: 31%;
    margin: 1%;
    position: relative;
    vertical-align: middle;
    background: black;
}
.liners>img{width: 100%}
.name{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
}
.name img{width: 100%}
.img-absolute{
    position: absolute;
    right: 0;
    top: 14%;
    z-index: 9;
    width: 52%;
}
.img-absolute img{width: 100%}
.liners-down-block{
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 10;
}
.liners-text {
    background: inherit;
    color: white;
    font: 500 3vw 'ChunkFive';
    text-align: center;
}
.liners-buttom{
    background: #056AB2;
    color: white;
    text-align: center;
    font:700 2vw 'Open Sans';
    padding: 1%;
    cursor: pointer;
}

/*Большое видео*/
.delivered {
    width: 100%;
    position: relative;
    background: black;
    font-size: 0;
    margin-top: 7%;
}
.delivered img{width: 100%}
.delivered-text{
    width: 100%;
    position: absolute;
    top: 33%;
    text-align: center;
}
.delivered-text h2{
    text-align: center;
    color: white;
    font: 3vw 'Open Sans ExtraBold';
}
.delivered-text p{
    text-align: center;
    color: white;
    font: 400 1vw 'Open Sans';
}
.delivered-icon img{
    width: 8%;
    padding-top: 2%;
    cursor: pointer;
}

/***************Подвал**************************/

footer{
    background: #0D6CB6;
    color: white;
    font: 400 0.6vw 'Open Sans';
    width: 100%;
    padding-top: 3%;
    padding-bottom: 4%;
    text-transform: none;
}
footer h4{
    font: 700 0.7vw 'Open Sans';
    text-transform: uppercase;
}
footer h2{
    font: 700 0.8vw 'Open Sans';
    text-transform: uppercase;
}
.down-footer{
    width: 100%;
    background: #0D6CB6;
}
.down-footer a{
    text-decoration: none;
    color: white;
    padding-left: 10px;
}
.year {
    float: left;
    margin-left: 30px;
}
.social_network{
    float: right;
    margin-right: 13%;
}
.social_network li{
    display: inline-block;
}
.top-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.right-top{
    width: 40%;
    border-bottom: 1px solid black;
}
.left-top{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid black;
    padding-bottom: 2%;
}
.about{
    width: 26%;
}
.stay{
    padding-right: 10%;
    width: 30%;
}
.about p{
    padding-bottom: 4%;
}
.addres div{
    display: inline-block;
}
.contact-information p{
    padding-top: 10px;
    padding-bottom: 10px;
}
.addres p{
    padding-top: 10px;
    padding-right: 20px;
}
.addres{
    padding-top: 4%;
}
.location{
    width: 100%;
    margin-top: 12%;
    border: 1px solid white;
    border-radius: 5px;
    text-align: right;
    cursor: pointer;
}
.fa-location-arrow{
    color: #0D6CB6;
    background-color: white;
    font-size: 1vw;
    padding: 5px 20px 2px 15px;
}

*@media screen and (max-width: 1240px) {
    .menu-block{
        display: block;
    }
    .logo{
        padding: 0;
        text-align: center;
        width: 100%;
    }
    .menu{
        width: 100%;
        display: block;
        text-align: center;
    }
    .trash {
        position: absolute;
        padding: 0;
        right: 7%;
        top: 30%;
    }
}